.product {
  display: flex;
  width: 416px;
  padding: 0px 40px 20px 40px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
  background: var(--green, #a0d187);
}

.product h3 {
  font-family: "Francois One";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}
